.research-item {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
}


.research-title {
  font-weight: bold;
}


.conference-item {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
